VITE_APP_APPWRITE_URL="https://fra.cloud.appwrite.io/v1"
VITE_APP_APPWRITE_PROJECT_ID="6a0ec2ff001a2bb56ba7"
VITE_APP_APPWRITE_DATABASE_ID ="6a0ec41b0032bce66a9d"
VITE_APP_APPWRITE_USERS_COLLECTION_ID="articles"
VITE_APP_APPWRITE_BUCKET_ID="6a1145f1003bb6a1563f"